services:
  testathon-liferay:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      testathon-database:
        condition: service_healthy
    ports:
      - "8080:8080"

  testathon-database:
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: lportal
    healthcheck:
      retries: 10
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
    image: mysql:8.0
    ports:
      - "3306:3306"
